  <!-- begin navbar code -->
  <nav class="navbar navbar-expand-lg navbar-dark my-nav row">
    <!-- spacer div, hides below lg breakpoint -->
    <div class="col col-lg-2 p-0"></div>
<!-- columns for overall nav width -->
    <div class="col col-lg-8 col-12 p-0 ">
<!-- added margin=0 to fix bug on small screens -->
      <div class="row m-0">
        <!-- navbar brand code -->
        <a class="text-center navbar-brand my-brand col-12 col-lg-6" href="/">
          <h1 class="name text-center col-12">Michael Hegner</h1>
        </a>
        <!-- spacer div, hides below lg breakpoint -->
        <div class="col-lg-1"></div>
        <!-- nav buttons list, padding 0 corrects weird margin -->
        <div class="nav navbar-nav col-12 col-lg-4 p-0 flex-lg-row-reverse">
          <ul class="nav navbar-nav">
            <li class="nav-item">
              <a class="nav-link dead-link" href="/">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link dead-link" href="/portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link dead-link" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
        <!-- end nav bar list -->
      </div>
      <!-- end row -->
    </div>
    <!-- end overall size layout -->
    <div class="col col-lg-2  p-0"></div>
<!-- spacer div, hides below large screen breakpoint -->
  </nav>
    <!-- end navbar code -->