<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include ../partials/head.ejs %>
  
    <title>Michael Hegner Portfolio</title>
  </head>

<body>

  <% include ../partials/navbar.ejs %>

  <section class="container">

    <div class="row my-5 mx-0">
        <div class="col col-lg-10 col-11 m-auto border my-content p-3">

            <div class="content-head">
              <h2 class="content-head-text ">Contact Me</h2>
            </div>
    
            <button type="button" class="btn my-btn" id="modal-button" data-toggle="modal"
            data-target="#submissionModal">Request a copy of my resume!</button>
            
          </div>

      

    </div>

    <div class="modal fade" id="submissionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Please enter your name and email to request a copy of my resume.</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form id="contact-form">
          <div class="modal-body form-screen-one">
           
           
              <div class="form-label-group">
                <input type="name" class="form-control" id="input-name" placeholder="Name" required>
                <label for="input-name">Name</label>
              </div>
    
              <div class="form-label-group">
                <input type="email" id="input-email" class="form-control" placeholder="Email address" required>
                <label for="input-email">Email address</label>
              </div>
    
    
              
            
          </div>
          <div class="modal-body form-screen-two">
            Your request has been fulfilled. 
          </div>

          <div class="modal-footer">
              <button type="submit" class="btn my-btn form-screen-one" id="submit-button">Submit</button>
            <button type="button" class="btn my-btn" data-dismiss="modal">Close</button>
          </form>
          </div>
        </div>
      </div>
    </div>

    

      <div class="row fixed-bottom footer">
        <div class="col-12">
          <p class="text-center align-center p-1 footer-text">&copy; 2019 Michael Hegner</p>
        </div>
    </div>

  </section>


</body>

</html>