<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <% include ../partials/head.ejs %>

  <title>Michael Hegner Portfolio</title>
</head>

<body>
  
  <% include ../partials/navbar.ejs %>

  <section class="container">

    <div class="row mt-5 mx-0">

      <div class="col col-lg-10 col-11 m-auto border my-content p-3">

      <div class="row">

          <div class="col col-12">
            <h2 class="content-head-text">About Me</h2>
          </div>

          <div class="col col-12">

              <div class="row ml-3">

                  <div class="col col-lg-3 col-md-6 col-12">
                      <img class="img-fluid" src="assets/images/IMG_0121 copy 3.jpg" alt="pix">
                  </div>

                  <div class="col">
                      <p>I’m Michael Hegner. Born and raised in Midlothian, Virginia. I attended Middle Tennessee State University and got my degree in Recording Industry with a concentration in Audio Production. I’ve worked a bunch of jobs since graduating in and out of my field of study, but nothing could support me long term. Currently I’m at Carmax working in the mail room. My friend took this course and came out of it and immediately landed a job that pays well. I hope to do the same so I can open my own recording studio. A fun fact is I engineered Julien Bakers debut record Sprained Ankle.</p>
                  </div>

              </div>

          </div>
          
      </div>

    </div>

    </div>

      

    <div class="space">
    </div>


    <div class="row fixed-bottom footer">
      <div class="col-12">
        <p class="text-center align-center p-1 footer-text">&copy; 2019 Michael Hegner</p>
      </div>
    </div>

  </section>

</body>

</html>