<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include ../partials/head.ejs %>
  
    <title>Michael Hegner Portfolio</title>
  </head>

<body>

  <% include ../partials/navbar.ejs %>
  
<section class="container">

  <div class="row mt-5 mx-0">

    <div class="col col-lg-10  col-11 m-auto border my-content p-3">

      <div class="row">

            <div class="col col-lg-5 col-12 content-img-div">
                <img class="img-fluid mx-auto d-block content-img" src="assets/images/wordguess.jpg" alt="picture"/>
                <div class="dropdown">
                  <button class="drop-btn">Word Guess Game</button>
                  <div class="dropdown-content">
                    <a href="https://hegner123.github.io/word_guess_game/" target="none">Word Guess: Page</a>
                    <a href="https://github.com/hegner123/word_guess_game" target="none">Word Guess: Repo</a>
                  </div>
                </div>
            </div>

            <div class="col col-lg-5 col-12 content-img-div">
              <img class="img-fluid mx-auto d-block content-img" src="assets/images/starwarsRPG.jpg" alt="picture"/>
              <div class="dropdown">
                <button class="drop-btn">RPG Game</button>
                <div class="dropdown-content">
                  <a href="https://hegner123.github.io/unit-4-game/" target="none">RPG Game: Page</a>
                  <a href="https://github.com/hegner123/unit-4-game" target="none">RPG Game: Repo</a>
                </div>
              </div>
            </div>


            <div class="col col-lg-5 col-12 content-img-div">
            <img class="img-fluid mx-auto d-block content-img" src="assets/images/trivia-game-crop.png" alt="picture"/>
            <div class="dropdown">
              <button class="drop-btn">Trivia Game</button>
              <div class="dropdown-content">
                <a href="https://hegner123.github.io/timed_questions/" target="none">Trivia Game: Page</a>
                <a href="https://github.com/hegner123/timed_questions" target="none">Trivia Game: Repo</a>
              </div>
            </div>
            </div>


            <div class=" col col-lg-5 col-12 content-img-div">
            <img class="img-fluid mx-auto d-block content-img" src="assets/images/Giphy-api-crop.jpg" alt="picture"/>
            <div class="dropdown">
            <button class="drop-btn">Giphy API</button>
            <div class="dropdown-content">
              <a href="https://hegner123.github.io/giphy_api/" target="none">Giphy API: Page</a>
              <a href="https://github.com/hegner123/giphy_api" target="none">Giphy API: Repo</a>
            </div>
            </div>
            </div>

            <div class=" col col-lg-5 col-12 content-img-div">
            <img class="img-fluid mx-auto d-block content-img" src="assets/images/rps-black-crop.jpg" alt="picture"/>
            <div class="dropdown">
            <button class="drop-btn">Multiplayer RPS</button>
            <div class="dropdown-content">
              <a href="https://hegner123.github.io/rps/" target="none">Multiplayer RPS: Page</a>
              <a href="https://github.com/hegner123/rps" target="none">Multiplayer RPS: Repo</a>
            </div>
            </div>
            </div>

      </div>

    </div>

  </div>

  <div class="space">
  </div>

<div class="row fixed-bottom footer">
    <div class="col-12">
      <p class="text-center align-center p-1 footer-text">&copy; 2019 Michael Hegner</p>
    </div>
</div>

</section>

</body>

</html>